
body{
    background-color: black;
    color: white;
    text-align: center;
}
#lift{
    font-size: 45px;
    padding-bottom: 1px;
    margin: 2%;
}
#name{
    font-size: 28px;
}
.smalltitle{
    font-size: 25px;
}
#about{
    text-align: justify;
}
div{
    margin: auto; width: 48%;
}
a:link{
        color: white;
}
a:visited{
    color: white;
}
a:hover{
    color: yellow;
}
#videos{
    margin: 20px;
    padding-left: 10px;
    padding-right:  10px;
}